<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">SearchSearcaaaaaaaaaaaaaaaaaaaaaaaaaaaah</button>
            </form>
        </div>
    </div>
</nav>



<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="https://news-pctr.c.yimg.jp/uUzvQ3lML_bkIqyakc1vFhNrRI0RUQxg5aFkrX0xDg2oKB41GiLMNbZXW_Lt2ziFVoROjifbXxHkbYa7zzj_bQBim_v6uBycVyjpag2Rvyv9t4_ym7U3GRxq6UQ1JrjZ58Yh08Rt_93-0cYHZd8GZQe2Iyb4ILA2Lb5peldiPvlw6eySfxK87tWmMJdc34VrplyDuOjgXpdc9tPbyCtl8A=="
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="container mt-3">
    <div class="dropdown mb-3">
        <div class="dropdown dropend">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">お問い合わせ内容</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">取り扱い商品について</a></li>
                <li><a class="dropdown-item active" href="#">事業内容について</a></li>
                <li><a class="dropdown-item disabled" href="#">採用について</a></li>
                <li><a class="dropdown-item" href="#">その他</a></li>
            </ul>
        </div>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">お名前</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="kana" class="form-label">ふりがな</label>
        <input type="kana" class="form-control" id="kana">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">メールアドレス</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="email2" class="form-label">メールアドレス(確認用)</label>
        <input type="email" class="form-control" id="email2">
    </div>
    <div class="mb-3">
        <label for="post" class="form-label">郵便番号</label>
        <input type="text" class="form-control" id="post">
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">住所</label>
        <input type="text" class="form-control" id="address">
    </div>
    <div class="mb-3">
        <label for="tel" class="form-label">電話番号</label>
        <input type="tel" class="form-control" id="tel">
    </div>
    <div class="mb-3">
        <label for="inquiry" class="form-label">お問い合わせ内容</label>
        <input type="textarea" class="form-control" id="inquiry">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
